{% extends 'base.html' %}

{% set title="Dodawanie treningu" %}
{% set active_page="add_workout" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 ms-5">
                <h3 class="mt-4 mb-4">Wprowadź nowy trening:</h3>
                <form action="{{ url_for('add_workout') }}" method="post">
                    <div class="mb-3">
                        <label class="form-label fs-4">Podaj datę:</label>
                        <input type="date" class="form-control w-75" name="training_date">
                    </div>
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
            <div class="col-md-4 ms-auto me-5">
                <h3 class="mt-4 mb-4">Zaaktualizuj zapisany trening:</h3>
                <form action="{{ url_for('add_workout') }}" method="post">
                    <div class="mb-3">
                        <label class="form-label fs-4">Podaj ID swojego treningu:</label>
                        <input type="text" class="form-control w-50" name="training_id">
                    </div>
                    <button type="submit" class="btn btn-primary">Aktualizuj</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
