{% extends 'base.html' %}

{% set title="Dodawanie ćwiczenia" %}
{% set active_page="add_exercise" %}
{% set amount_of_another_parts=0 %}

{% block content %}
    <h3 class="mt-4 mb-5">Dodaj pojedyncze ćwiczenie:</h3>

    <form class="w-25" action="{{ url_for('add_exercise') }}" method="POST">
        <div class="mb-3">
            <label class="form-label fs-4">Nazwa:</label>
            <input type="text" class="form-control" name="exercise_name">
            <div class="form-text">Wpisz nazwę ćwiczenia w j.polskim</div>
        </div>
        <div class="mb-3">
            <label class="form-label fs-4">Nazwa [ang]:</label>
            <input type="text" class="form-control" name="exercise_name_ang">
            <div class="form-text">Wpisz nazwę ćwiczenia w j.angielskim (opcjonalne)</div>
        </div>
        <div class="mb-3">
            <label class="form-label fs-4" for="choise_main_body_part">Partia mięśniowa:</label><br>
            <select id="choise_main_body_part" name="main_body_part">
                {% for body_part in body_parts %}
                    <option value="{{ body_part[0] }}">{{ body_part[0] }}</option>
                {% endfor %}
            </select>
            <div class="form-text">Wybierz główną partię mięśniową</div>
        </div>
        <div class="mb-3">
            <label class="form-label fs-4" for="choise_another_body_parts">Poboczna partia mięśniowa:</label><br>
            <select id="choise_another_body_parts" name="another_body_parts">
                {% for body_part in body_parts %}
                    <option value="{{ body_part[0] }}">{{ body_part[0] }}</option>
                {% endfor %}
            </select>
            <div class="form-text">Wybierz drugą najbardziej aktywną partię mięśniową (opcjonalne)</div>
        </div>
        <button type="submit" class="btn btn-primary">Wprowadź</button>
    </form>

{% endblock %}
