{% extends 'base.html' %}

{% set title="LoveFitLife" %}
{% set active_page="index" %}

{% block content %}
<h2 class="m-4 text-center">Witaj w LoveFitLife!</h2><br>

    <div class="fs-5">
        <p>Jest to prosta aplikacja webowa, która służy do zapisywania treningów, przeglądania historii treningów i mierzenia swoich postępów.</p>
        <p>Obecnie zawiera funkcje: wczytania swojej bazy ćwiczeń, przeglądnia bazy ćwiczeń, dodania ćwiczenia poprzez stronę web, wprowadzenia treningu, przeglądania historii treningów, rejestracji i logowania.</p>
        <p>Jest to początkowa wersja aplikacji. Z biegiem czasu jej funkcjonalności będą rozszerzane.</p>
    </div>
    <br><br>

    <div class="fs-5">
        <p>Jak rozpocząć?</p>
        <p>- Na stronie głównej, kliknij przycisk "Załaduj ćwiczenia".</p>
        <p>- Wybierz plik "exercise_database.csv" z folderu głównego repozytorium.</p>
        <p>- Podobnie, kliknij przycisk "Załaduj partie mięśniowe".</p>
        <p>- Wybierz plik "bodyparts.csv" z folderu głównego repozytorium.</p>
        <p>Gotowe! Możesz zacząć wprowadzać swoje treningi.</p><br>
        <p>Uwaga: Jeśli chcesz, możesz utworzyć lub zmienić ćwiczenia w bazie danych i dodawać według własnych upodobań. Pamiętaj, aby poprawnie wprowadzić dane. W przypadku, gdy nazwa ćwiczenia lub symbol będzie zdublowane lub gdy wystąpi niespójność w wartościach, ćwiczenie nie zostanie dodane do bazy.</p>
    </div>
    <br>

    <div class="fs-5">
        <p>Owocnej pracy nad swoją sprawnością fizyczną!</p>
    </div>


{% endblock %}
