{% extends 'base.html' %}

{% set title="LoveFitLife" %}
{% set active_page="index" %}

{% block content %}
<h2 class="m-4 text-center">Witaj w LoveFitLife!</h2><br>

    <div class="fs-5">
        <p>Jest to prosta aplikacja webowa, która służy do zapisywania treningów, przeglądania historii treningów i mierzenia swoich postępów.</p>
        <p>Obecnie zawiera funkcje: wczytania swojej bazy ćwiczeń, przeglądnia bazy ćwiczeń, dodania ćwiczenia poprzez stronę web, wprowadzenia treningu, przeglądania historii treningów, rejestracji i logowania.</p>
        <p>Jest to początkowa wersja aplikacji. Z biegiem czasu jej funkcjonalności będą rozszerzane.</p>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="fs-5 col-md-8">
                <p>Jak rozpocząć?</p>
                <p>- Zarejestruj się na stronie poprzez formularz 'Rejestracja'.</p>
                <p>- Na stronie głównej kliknij przycisk "Załaduj partie mięśniowe".</p>
                <p>- Następnie kliknij przycisk "Załaduj ćwiczenia".</p><br>
                <p>Gotowe! Możesz zacząć wprowadzać swoje treningi.</p>
            </div>
            {% if current_user.is_authenticated %}
            <div class="col-md-2 w-25 mt-4">
                <form class="mb-4 d-grid" action="{{ url_for('index') }}" method="POST">
                    <input type="file" class="form-control mb-2" name="body_parts_file">
                    <button type="submit" class="btn btn-primary">Załaduj partie mięśniowe</button>
                </form>
                <form class="d-grid" action="{{ url_for('index') }}" method="POST">
                    <input type="file" class="form-control mb-2" name="exercise_database_file">
                    <button type="submit" class="btn btn-primary">Załaduj ćwiczenia</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="fs-5">
        <p>Uwaga: Powyższe polecenie importuje pliki w formacie csv z głównego folderu repozytorium. Jeśli chcesz, możesz utworzyć lub zmienić ćwiczenia w plikach i dodawać według własnych upodobań. Pamiętaj, aby poprawnie wprowadzić dane. W przypadku, gdy nazwa ćwiczenia lub symbol będą zdublowane lub gdy wystąpi niespójność w wartościach, ćwiczenie nie zostanie dodane do bazy lub zostanie dodane nieprawidlłowo.</p>
        <br>
    </div>

    <div class="fs-5">
        <p>Owocnej pracy nad swoją sprawnością fizyczną!</p>
    </div>


{% endblock %}
