{% extends 'base.html' %}

{% set title="Logowanie" %}
{% set active_page="login" %}

{% block content %}
    <h3 class="mt-4 mb-5">Zaloguj się:</h3>

    <form class="w-50" action="{{ url_for('register') }}" method="POST">
        <div class="mb-3">
            <label class="form-label fs-4">Email:</label>
            <input type="text" class="form-control" name="email">
            <div class="form-text">Wpisz swój email.</div>
        </div>
        <div class="mb-3">
            <label class="form-label fs-4">Hasło:</label>
            <input type="password" class="form-control" name="password">
            <div class="form-text">Wpisz swoje hasło.</div>
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj</button>
    </form>

{% endblock %}
